<!DOCTYPE HTML>
<!--
	TXT by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>


		<title>WormTraq</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body class="homepage">
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header">
					<div class="logo container">
						<div>
							<h1><a id="logo">About WormTraq</h1>
						</div>
					</div>
                    
				</header>

			<!-- Nav -->
				<nav id="nav">
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/analyze">Picture</a></li>
						<li><a href="/measure">Measure</a></li>
						<li><a href="/video">Video</a></li>
						<li><a href="/config">Config</a></li>
						<li  class="current"><a href="/about">About</a></li>
					</ul>
				</nav>


			<!-- Main -->
				<div id="main-wrapper">
					<div id="main" class="container">
						<div class="row 200%">
							<div class="12u">
								<!-- Highlight -->
									<section class="box highlight">
                                       <h1 style="font-size: 2.3em">About</h1>
                                       <p style="font-size: 1.4em">WormTraq is an open source online web application which is able to detect and measure Caenorhabditis elegans. 
                                       <br>
									    <h1 style="font-size: 2.3em">Tutorial</h1>
                                       <p style="font-size: 1.4em"><iframe width="854" height="480" src="https://www.youtube.com/embed/FptPGp2E5Xs" frameborder="0" allowfullscreen></iframe>
									   <br>

									<div id="method">
									   <h1 style="font-size: 2.3em" >Methodology</h1>
                                       <p style="font-size: 1.4em">WormTraq processes the uploaded image before extracting the worms using the following process:
										<br>
										</p>
										<img src="images/main.jpeg" width="25%" height="25%">
										<p>The user uploads an image of worms</p>
										<img src="images/arrow.png" width="5%" height="5%">
										<br>
										<img src="images/output.png" width="25%" height="25%">
										<p>WormTraq initially processes the image. First, the image is contrasted. Then, the hue in the image is increased significantly.
											Finally, the vibrance of the image is increased significantly. Once these filters are applied to the image, it is converted to grayscale as shown above.
										</p>
										<img src="images/arrow.png" width="5%" height="5%">
										<br>
										<img src="images/processed.png" width="25%" height="25%">
										<p>WormTraq will then remove the noise in the image. Noise is the groups various dots which show up
											after the initial processing. This step will help in removing false positives. 
										</p>
										<img src="images/arrow.png" width="5%" height="5%">
										<br>
										<img src="images/worms.png" width="25%" height="25%">
										<p>Finally, WormTraq will identify the various worms in the image based 
											on the area percent threshold. The area percent threshold tells WormTraq the minimum size which a worm should be. 
											WormTraq then scans the image for coherent lines joining to form a worm. Once enough lines connect in a potential object, an enclosed worm is recorded. 
											Measurements are then recorded as shown above.
										</p>
								</div>





									   
                                       <br>


<!-- tutorial -->
                                      
									   <h1 style="font-size: 1.5em">Get Started</h1>
									   To get started, first decide what you are looking to analyze. If you are looking to analyze an image, click on <b>PICTURE</b> or <b>MEASURE</b> to begin.
									   The PICTURE works by uploading a picture of C. Elegans and then returning data regarding the image. The data returned includes the midline lengths of the worms, the number of worms, and the areas of the worms in the image.
									   The MEASURE tab works by taking an image and allowing one to draw on the image, recording the length of the line. This can be used to make percise measurements of worms in an image.
									   The <b>VIDEO</b> tab offers the same features as the picture tab just with specific snapshots of the video. In addition, there is a simple velocity calculator for two points in an image of the video.
									   The <b>CONFIG</b> tab is for configuring the image processing settings. The methodology section above explains how WormTraq processes images. There are 5 main parameters which go into identifying and measuring C. Elegans.
									   <br><br>
									   <ol>
										   <li><b>1. Detection Threshold: </b>The minimum percentage for which WormTraq will classify an object as a worm. The larger the percentage, the less false positives. The larger, the more potential objects WormTraq will not pick up.</li>
										   <br> <b><li>2. Contrast: </b>How the image is contrasted in order to better seperate light colors from dark colors</li>
											<br> <b><li>3. Hue:</b> Similar effects to contrast.</li>
											 <br><b><li>4. Vibrance:</b> Similar effects to contrast.</li>
											 <br> <b> <li>5. Noise Cycles: </b>WormTraq removes image noise (little dots or isolated dots which appear in the greyscaled image) a certain amount of iterations. The fewer the iterations, the less noise removed, allowing more false positives. The higher the number, the less defined an object like a worm becomes, reducing the chance that it will be correctly identified.</li>

									   </ol>
									   <br>
									   All of the aforementioned information is explained in the video tutorial in case of any confusion.
									   	</p>


                                        <br>
                                       <h1 style="font-size: 2.3em">Contributing to WormTraq</h1>
                                       <p style="font-size: 1.4em">If you wish to improve WormTraq or have any suggestions for features, 
                                           you can contribute to the <a href="https://github.com/mike2151/WormTraq">code</a> or email me at redefiningproductions@gmail.com.</p>
                                        <br>
                                       <h1 style="font-size: 2.3em">Creation</h1>
                                       <p style="font-size: 1.4em">WormTraq was created and developed by Michael Abelar. <br>
                                       Website Template can be found at <a href="https://html5up.net/">https://html5up.net</a></p>
                                     <br>
									 <h1 style="font-size: 2.3em">How to Cite WormTraq</h1>
                                       <p style="font-size: 1.4em">APA:<br><br> Abelar, M. (2016). WormTraq (Version 1) [Computer software]. Retrieved from https://wormtraq.herokuapp.com/
                                       <br><br>MLA: <br><br>
									   Abelar, Michael. WormTraq. Computer software. WormTraq. Vers. 1. N.p., 2016. Web. &#60;https://wormtraq.herokuapp.com&#47;&#62;.
									   
									   <br><br>Chicago:<br><br>
									   Abelar, Michael. WormTraq. Computer software. Version 1. WormTraq. 2016. https://wormtraq.herokuapp.com/.
									   </p>
                                        
									</section>
							</div>
						</div>
						
					</div>
				</div>

			<!-- Footer -->
				<footer id="footer" class="container">
					
					

					<!-- Copyright -->
						<div id="copyright">
							<ul class="menu">
								<li><a href="https://github.com/mike2151/WormTraq">Source Code</a></li><li><a href="/about">About</a<</li>
							</ul>
						</div>

				</footer>

			</div>

		<!-- Scripts -->
  



	</body>
</html>