<!DOCTYPE HTML>
<!--
	TXT by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>


		<title>WormTraq</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body class="homepage">
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header">
					<div class="logo container">
						<div>
							<h1><a id="logo">About WormTraq</h1>
						</div>
					</div>
                    
				</header>

			<!-- Nav -->
				<nav id="nav">
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/analyze">Picture</a></li>
						<li><a href="/measure">Measure</a></li>
						<li><a href="/video">Video</a></li>
						<li><a href="/config">Config</a></li>
						<li  class="current"><a href="/about">About</a></li>
					</ul>
				</nav>


			<!-- Main -->
				<div id="main-wrapper">
					<div id="main" class="container">
						<div class="row 200%">
							<div class="12u">
								<!-- Highlight -->
									<section class="box highlight">
                                       <h1 style="font-size: 2.3em">About</h1>
                                       <p style="font-size: 1.4em">WormTraq is an open source online web application which is able to track Caenorhabditis elegans. 
                                           <br><br>Note: Since WormTraq is a free service, the media generated from the analysis tools may be deleted at any moment to conserve space. Make sure to download all images and media generated from WormTraq. </p>
                                       <br>
									<div id="method">
									   <h1 style="font-size: 2.3em" >Methodology</h1>
                                       <p style="font-size: 1.4em">WormTraq processes the uploaded image before extracting the worms using the following process:
										<br>
										</p>
										<img src="images/main.jpeg" width="25%" height="25%">
										<p>The user uploads an image of worms</p>
										<img src="images/arrow.png" width="5%" height="5%">
										<br>
										<img src="images/output.png" width="25%" height="25%">
										<p>WormTraq initially processes the image. First, the image is contrasted. Then, the hue in the image is increased significantly.
											Finally, the vibrance of the image is increased significantly. Once these filters are applied to the image, it is converted to grayscale as shown above.
										</p>
										<img src="images/arrow.png" width="5%" height="5%">
										<br>
										<img src="images/processed.png" width="25%" height="25%">
										<p>WormTraq will then remove the noise in the image. Noise is the groups various dots which show up
											after the initial processing. This step will help in removing false positives. 
										</p>
										<img src="images/arrow.png" width="5%" height="5%">
										<br>
										<img src="images/worms.png" width="25%" height="25%">
										<p>Finally, WormTraq will identify the various worms in the image based 
											on the area percent threshold. The area percent threshold tells WormTraq the minimum size which a worm should be. 
											WormTraq then scans the image for coherent lines joining to form a worm. Once enough lines connect in a potential object, an enclosed worm is recorded. 
											Measurements are then recorded as shown above.
										</p>
								</div>





									   
                                       <br>

                                       <h1 style="font-size: 2.3em">Tutorial</h1>
                                       <p style="font-size: 1.4em">Coming soon!</p>
                                        <br>
                                       <h1 style="font-size: 2.3em">Contributing to WormTraq</h1>
                                       <p style="font-size: 1.4em">If you wish to improve WormTraq or have any suggestions for features, 
                                           you can contribute to the <a href="https://github.com/mike2151/WormTraq">code</a> or email me at redefiningproductions@gmail.com.</p>
                                        <br>
                                       <h1 style="font-size: 2.3em">Creation</h1>
                                       <p style="font-size: 1.4em">WormTraq was created and developed by Michael Abelar. <br>
                                       Website Template can be found at <a href="https://html5up.net/">https://html5up.net</a></p>
                                     
                                        
									</section>
							</div>
						</div>
						
					</div>
				</div>

			<!-- Footer -->
				<footer id="footer" class="container">
					
					

					<!-- Copyright -->
						<div id="copyright">
							<ul class="menu">
								<li><a href="https://github.com/mike2151/WormTraq">Source Code</a></li><li><a href="/about">About</a<</li>
							</ul>
						</div>

				</footer>

			</div>

		<!-- Scripts -->
  



	</body>
</html>