<!DOCTYPE HTML>
<!--
	TXT by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>WormTraq</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="../css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
        <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://rawgit.com/allensarkisyan/VideoFrame/master/VideoFrame.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	</head>
	<body class="homepage">
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header">
					<div class="logo container">
						<div>
							<h1><a id="logo">Analyze Video</h1>
						</div>
					</div>
                    
				</header>

			<!-- Nav -->
				<nav id="nav">
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/analyze">Picture</a></li>
						<li><a href="/measure">Measure</a></li>
						<li class="current"><a href="/video">Video</a></li>
						<li><a href="/config">Config</a></li>
						<li><a href="/about">About</a></li>
					</ul>
				</nav>


			<!-- Main -->
				<div id="main-wrapper">
					<div id="main" class="container">
						<div class="row 200%">
							<div class="12u">
								<!-- Highlight -->
							    <section class="box highlight">
                                    <h2>Uploaded Video:</h2>
                                    <video height="30%" width="100%" id="video" controls> 
                                    <source src="<%= video_path %>"></source>
                                    </video>
                                    <br>
                                    <br>
                                    <h3>Process Image at Video Timestamp (May take a while)</h3>
                                    <hr>
                                    <form method="post" action="/video_analyze/<%= token %>">
                                        <div class="form-group">
										<div class="col-md-6">	
											<h4>Process at timestamp in video</h4>
                                        <label>Time at video (Seconds)</label>
                                       <center> <input type="number" class="form-control" name="time" style="width:15%"></center>
                                        </div>
										<div class="col-md-6">	
											<h4>Optional Processing Settings</h4>
                                        <label>Detection Threshold (%)</label>
                                        <center><input type="text" style="width:15%" class="form-control" placeholder=".002" name="areapercent" ></center>
										
											<br>
											<label><h4>Contrast (1-100)</h4></label>
											<center><input type="number" class="form-control" name="contrast" value="65" style="width: 8em"/></center>
											<br>
											<label><h4>Hue (1-100)</h4></label>
											<center><input type="number" class="form-control" name="hue" value="100" style="width: 8em"/></center>
											<br>
											<label><h4>Vibrance (1-100)</h4></label>
											<center><input type="number" class="form-control" name="vibrance" value="100" style="width: 8em"/></center>
											<br>
											<label><h4>Noise Removal Cycles (Any positive integer)</h4></label>
											<center><input type="number" class="form-control" name="noise" value="20" style="width: 8em"/></center>
                                        </div></div><br>
                                        <button type="submit" class="btn btn-success" onclick="loading()">Process</button>
                                    </form>

                                    <div class="col-md-12">
                                    <br>
									<hr>
                                    <h3>Get Speed of Objects (May take a while)</h3>
                                    <hr>
                                    <form method="post" action="/video_velocity/<%= token %>">
										<div class="col-md-6">
                                        <h4>Time frames for average velocity</h4>
                                        <label>Start Time at video (Seconds)</label>
                                        <center><input type="number" class="form-control" name="start_time" style="width:15%"></center>
                                        <br><br>
										<label>End Time at video (Seconds)</label>
                                        <center><input type="number" class="form-control" name="end_time" style="width:15%"></center>
										</div>
										<div class="col-md-6">
											<h4>Optional Processing Settings</h4>
                                        <label>Detection Threshold (%)</label>
                                        <center><input type="text" style="width:15%" class="form-control" placeholder=".002" name="areapercent_velocity" ></center>
                                        
										
									
											<br>
											<label><h4>Contrast (1-100)</h4></label>
											<center><input type="number" class="form-control" name="contrast_v" value="65" style="width: 8em"/></center>
											<br>
											<label><h4>Hue (1-100)</h4></label>
											<center><input type="number" class="form-control" name="hue_v" value="100" style="width: 8em"/></center>
											<br>
											<label><h4>Vibrance (1-100)</h4></label>
											<center><input type="number" class="form-control" name="vibrance_v" value="100" style="width: 8em"/></center>
											<br>
											<label><h4>Noise Removal Cycles (Any positive integer)</h4></label>
											<center><input type="number" class="form-control" name="noise_v" value="20" style="width: 8em"/></center><br>
                                       </div>
									    <button type="submit" class="btn btn-success" onclick="loading()">Process</button>
                                    </form>
									</div>
									<h2 id="load_status" style="color: #ff0000"></h2>

                                    
									</section>
							</div>
						</div>
						
					</div>
				</div>

			<!-- Footer -->
				<footer id="footer" class="container">
						<div id="copyright">
							<ul class="menu">
								<li><a href="https://github.com/mike2151/WormTraq">Source Code</a></li><li><a href="/about">About</a<</li>
							</ul>
						</div>

				</footer>

			</div>

		<!-- Scripts -->
          <script>
			  function loading() {
				document.getElementById("load_status").innerHTML="LOADING...";
			  }
		 </script>
		

	</body>
</html>